- name: prepare backend server
  hosts: backend
  become: yes

  tasks:
    - name: install unzip package
      apt:
        name: unzip
        state: present
        update_cache: yes

    - name: install nodejs
      apt:
        name: nodejs
        state: present

    - name: create expense application user
      user:
        name: expense
        shell: /bin/bash
        system: yes
        
    - name: create application directory
      file: 
        path: /app
        state: directory  
        owner: expense
        group: expense

    - name: download backend application code
      get_url:
        url: https://expense-artifacts.s3.amazonaws.com/expense-backend-v2.zip
        dest: /tmp/backend.zip

    - name: extract backend application code
      unarchive:
        src: /tmp/backend.zip
        dest: /app
        remote_src: yes  
        owner: expense
        group: expense

    - name: Install backend application dependencies
      command: npm install
      args:
        chdir: /app
    
    - name: Fix ownership of application files
      file:
        path: /app
        state: directory
        recurse: yes
        owner: expense
        group: expense