- name: prepare backend server
  hosts: backend
  become: yes

  tasks:
    - name: install unzip package
      apt:
        name: unzip
        state: present
        update_cache: yes

    - name: install nodejs
      apt:
        name: nodejs
        state: present

    - name: create expense application user
      user:
        name: expense
        shell: /bin/bash
        system: yes
                