- name: install and start mysql server
  hosts: db
  become: yes

  tasks:
    - name: install mysql server package
      apt:
        name: mysql-server
        state: present
        update_cache: yes

    - name: start and enable mysql service
      service:
        name: mysql
        state: started
        enabled: yes