- name: install nginx and start the service
  hosts: frontend
  become: yes
  tasks:
    - name: install nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: ensure nginx is running
      service:
        name: nginx
        state: started
        enabled: yes     
      